/* style.css */

body {
  background-color: #333;
  font-family: Arial, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

#intro {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 20px;
}

#messages li {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

#messages li span.username {
  font-size: 13px;
  font-weight: bold;
}

#messages li.user-message {
  font-size: 15px;
  background-color: #3c3c3c;
  text-align: right;
  align-self: flex-end;
}

#messages li.other-message {
  font-size: 15px;
  background-color: #393939;
  text-align: left;
  align-self: flex-start;
}

#messages li.join-message {
  background-color: darkolivegreen;
  text-align: center;
  align-self: flex-start;
}

#messages li.left-message {
  background-color: coral;
  text-align: center;
  align-self: flex-start;
}

form {
  background-color: #333;
  padding: 20px;
  display: flex;
}

input#m {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #333;
  color: #fff;
}
